<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <p class="site-slogan">There's Ruby on Racetracks, and there's Not Exactly.  Make sure you choose the correct one!</p>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
        <li><a href="/prerequisites.html">Prerequisites</a></li>
        <li><b><a href="/tutorials.html">Tutorials</a></b></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="/links.html">Links</a></li>
        <li><a href="/discuss.html">Discuss</a></li>
        <li><a href="/github.html">GitHub</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
